<header class="topbar">

    <!-- Left -->
    <div class="topbar-left">

        <img src="/images/companyLogo.png"
             class="logo"
             alt="Company Logo">

    </div>


    <!-- Right -->
    <div class="topbar-right">


        <!-- Notification -->
        <button class="icon-btn notification">

            <i class="fa-regular fa-bell"></i>

            <span class="badge">
                3
            </span>

        </button>



        <!-- Admin Profile -->
        <div class="profile">

            <img src="/images/user.png"
                 alt="Admin">

            <span class="company-name">

                {{ admin.adminName if admin else "Administrator" }}

            </span>

        </div>


    </div>


</header>




<!-- Sidebar -->

<div class="sidebar">


    <div class="sidebar-title">

        ADMIN

    </div>



    <ul class="sidebar-menu">


        <!-- Dashboard -->

        <li>

            <a href="/admin/dashboard"
               class="{% if request.url.path == '/admin/dashboard' %}active{% endif %}">


                <i class="fa-solid fa-chart-line"></i>

                <span>
                    Dashboard
                </span>


            </a>

        </li>




        <!-- Company Registration -->

        <li>

            <a href="/admin/company-requests"

               class="
               {% if
                    request.url.path == '/admin/company-requests'
                    or request.url.path.startswith('/admin/company/')
               %}
                    active
               {% endif %}
               ">


                <i class="fa-solid fa-building-circle-check"></i>


                <span>
                    Company Verification
                </span>


            </a>


        </li>





        <!-- User Management -->

        <li>


            <a href="/admin/users"

               class="
               {% if
                    request.url.path == '/admin/users'
                    or request.url.path.startswith('/admin/user/')
               %}
                    active
               {% endif %}
               ">


                <i class="fa-regular fa-user"></i>


                <span>
                    User Management
                </span>


            </a>


        </li>

       
        <!-- Career Advice -->

<li>

    <a href="/admin/career-advice"

       class="
       {% if
            request.url.path == '/admin/career-advice'
            or request.url.path.startswith('/admin/career-advice/')
       %}
            active
       {% endif %}
       ">


        <i class="fa-regular fa-newspaper"></i>


        <span>
            Career Advice
        </span>


    </a>

</li>



    </ul>




    <!-- Logout -->

    <div class="sidebar-bottom">


        <a href="/logout">


            <i class="fa-solid fa-arrow-right-from-bracket"></i>


            <span>
                Log Out
            </span>


        </a>


    </div>



</div>