<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
JobConnect - Applicants
</title>


<link rel="stylesheet" href="/static/style.css">


<link rel="preconnect" href="https://fonts.googleapis.com">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">


<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">


</head>



<body>


{% include "components/header.html" %}



<div class="container">



<!-- LEFT SIDEBAR -->

{% include "components/sidebar.html" %}





<!-- MAIN -->


<main>



<div class="page-title">


<h1>
Shortlisted Applicants
</h1>


<p>
Select a candidate to schedule an interview.
</p>


</div>




<section class="table-card">


<h3>
Applicants Ready For Interview
</h3>




<div id="candidateList">


Loading applicants...


</div>



</section>


</main>



</div>





{% include "components/footer.html" %}





<script>


fetch("/api/applicants/shortlisted")



.then(response => response.json())



.then(data => {



let container = document.getElementById(
"candidateList"
);





if(data.length === 0){


container.innerHTML =

`
<p>
No shortlisted applicants available.
</p>
`;

return;


}






let html = "";





data.forEach(candidate => {




let skills = "";





if(candidate.skills && candidate.skills.length > 0){



candidate.skills.forEach(skill => {



skills +=

`

<span class="skill-tag">

${skill.name}

</span>

`;



});



}
else{


skills = "No skills provided";


}







html +=




`

<div class="candidate-card">





<div class="candidate-top">



<img src="/static/images/avatar.jpg">





<div class="candidate-info">



<h2>

${candidate.name}

</h2>




<p>

${candidate.position}

</p>



</div>





<span class="status">

${candidate.status}

</span>





</div>









<div class="candidate-details">






<div>

<i class="fa-solid fa-envelope"></i>


<p>
Email
</p>



<span>

${candidate.email}

</span>



</div>









<div>

<i class="fa-solid fa-phone"></i>


<p>
Phone
</p>



<span>

${candidate.phoneNumber || "-"}

</span>



</div>









<div>

<i class="fa-solid fa-code"></i>


<p>
Skills
</p>



<span>

${skills}

</span>



</div>









<div>

<i class="fa-solid fa-file"></i>


<p>
Resume
</p>



<a href="/${candidate.resume_path}" target="_blank">

View Resume

</a>



</div>







</div>









<a href="/interview_schedule?id=${candidate.id}">



<button class="primary">



<i class="fa-solid fa-calendar-check"></i>

Schedule Interview


</button>



</a>






</div>


`;



});





container.innerHTML = html;



})





.catch(error => {



console.log(error);



document.getElementById(
"candidateList"
).innerHTML =


`

<p>

Failed to load applicants.

</p>


`;



});



</script>





</body>

</html>