<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>JobConnect - Schedule Interview</title>

<link rel="stylesheet" href="/static/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">


<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">


</head>



<body>




{% include "components/header.html" %}


<div class="container">





<!-- LEFT SIDEBAR -->

{% include "components/sidebar.html" %}


<!-- MAIN CONTENT -->


<main>




<div class="page-title">


<h1>
Schedule Interview
</h1>


<p>
Arrange an interview with shortlisted candidate.
</p>


</div>






<a class="back-btn">

<i class="fa-solid fa-arrow-left"></i>

Back to Shortlisted Candidates

</a>









<!-- Candidate Card -->


<section class="candidate-card">

<input type="hidden" id="candidateId">
<div class="candidate-top">


<img src="/static/images/james.jpg">



<div class="candidate-info">


<h2 id="candidateName"></h2>


<p id="candidatePosition"></p>



</div>





<span class="status">

Shortlisted

</span>



</div>









<div class="candidate-details">


<div>

<i class="fa-solid fa-envelope"></i>

<p>
Email
</p>


<span id="candidateEmail"></span>


</div>





<div>

<i class="fa-solid fa-phone"></i>

<p>
Phone
</p>


<span id="candidatePhone"></span>


</div>





<div>

<i class="fa-solid fa-code"></i>


<p>
Skills
</p>


<span id="candidateSkills"></span>


</div>





<div>

<i class="fa-solid fa-file"></i>


<p>
Resume
</p>


<a href="#">
View Resume
</a>


</div>



</div>


</section>


<!-- INTERVIEW FORM -->

<section class="form-card">


<h3>
Interview Details
</h3>



<div class="grid">



<div>

<label>
Interview Stage
</label>


<select id="stage">

<option value="">
Select Stage
</option>

<option value="Technical Interview">
Technical Interview
</option>

<option value="HR Interview">
HR Interview
</option>

<option value="Final Interview">
Final Interview
</option>


</select>


</div>





<div>

<label>
Interview Date
</label>


<input 
type="date"
id="date">


</div>






<div>

<label>
Interview Time
</label>


<input 
type="time"
id="time">


</div>







<div>

<label>
Duration
</label>


<select id="duration">


<option value="">
Select Duration
</option>


<option value="30 Minutes">
30 Minutes
</option>

<option value="60 Minutes" selected>
60 Minutes
</option>

<option value="90 Minutes">
90 Minutes
</option>


</select>


</div>







<div>


<label>
Interview Type
</label>


<div class="radio">



<label>

<input 
type="radio"
name="type"
value="online"
checked
onchange="toggleMeetingLink()">

Online

</label>





<label>

<input 
type="radio"
name="type"
value="physical"
onchange="toggleMeetingLink()">

Physical

</label>



</div>


</div>








<div>


<label>
Interviewer
</label>


<input type="text"id="interviewer" placeholder="Enter interviewer name">


</div>







<div class="full">


<label>
Meeting Link
</label>


<input 
type="text"
id="meetingLink"
placeholder="https://meet.google.com">


</div>








<div class="full">


<label>
Notes
</label>


<textarea 
rows="4"
placeholder="Add interview instructions...">
</textarea>


</div>



</div>





<!-- Feedback Message -->


<div id="message"></div>







<div class="buttons">


<button class="cancel">

Cancel

</button>





<button 
class="primary"
onclick="validateInterview()">



<i class="fa-solid fa-calendar-check"></i>


Confirm Interview Schedule


</button>



</div>



</section>




</main>









<!-- RIGHT SIDEBAR -->


<div class="right-panel">





<div class="card">


<h3>
Candidate Summary
</h3>


<p>
<strong>
Position
</strong>
</p>

<span id="summaryPosition">
</span>



<p>
<strong>
Experience
</strong>
</p>


<span id="summaryExperience">
</span>




<p>
<strong>
Skills
</strong>
</p>


<span id="summarySkills">
</span>


</div>








<div class="card">


<h3>
Scheduling Tips
</h3>


<ul>


<li>
Choose suitable time
</li>


<li>
Avoid interviewer conflicts
</li>


<li>
Include meeting link
</li>


<li>
Send reminder
</li>


</ul>


</div>







<div class="card">


<h3>
Recruitment Process
</h3>


<p>

Shortlisted Candidate

<br>

↓

<br>

Interview Scheduled

<br>

↓

<br>

Candidate Evaluation

<br>

↓

<br>

Hiring Decision

</p>


</div>






</div>







</div>


{% include "components/footer.html" %}

<script>


let candidateData = {};



const params = new URLSearchParams(
window.location.search
);


let candidateId = params.get("id");



fetch(
"/api/applicants/shortlisted/" + candidateId
)


.then(response=>response.json())


.then(data=>{


candidateData=data;



document.getElementById(
"candidateId"
).value=data.id;



document.getElementById(
"candidateName"
).innerHTML=data.name;



document.getElementById(
"candidatePosition"
).innerHTML=data.position;

document.getElementById(
"summaryPosition"
).innerHTML=data.position;

document.getElementById(
"candidateEmail"
).innerHTML=data.email;

document.getElementById(
"summaryExperience"
).innerHTML=data.experience || "Not provided";

document.getElementById(
"candidatePhone"
).innerHTML=data.phone;



let skillText="";


data.skills.forEach(skill=>{


skillText += skill.name + ", ";


});



document.getElementById(
"candidateSkills"
).innerHTML =
skillText.slice(0,-2);

document.getElementById(
"summarySkills"
).innerHTML =
skillText.slice(0,-2);

if(data.image){

document.getElementById(
"candidateImage"
).src =
"/static/images/"+data.image;

}



});


document.getElementById(
"candidateSkills"
).innerHTML =
skillText.slice(0,-2);


function validateInterview(){


let stage =
document.getElementById("stage").value;


let date =
document.getElementById("date").value;

let time =
document.getElementById("time").value;

let duration =
document.getElementById("duration").value;
let interviewer =
document.getElementById("interviewer").value;
let meetingLink =
document.getElementById("meetingLink").value;
let message =
document.getElementById("message");

if(stage === ""){
showError(
"Please select interview stage."
);

return;
}

if(date === ""){

showError(
"Please select interview date."
);

return;
}

let selectedDate =
new Date(date);
let today =
new Date();
today.setHours(0,0,0,0);
if(selectedDate < today){
showError(
"Interview date cannot be before today."
);
return;
}

if(time === ""){
showError(
"Please select interview time."
);
return;
}

if(duration === ""){

showError(
"Please select interview duration."
);


return;


}

if(interviewer.trim() === ""){

showError(
"Please enter interviewer name."
);

return;

}

let interviewType =
document.querySelector(
'input[name="type"]:checked'
).value;

if(interviewType === "online" && meetingLink === ""){


showError(
"Meeting link is required for online interview."
);

return;


}





saveInterview();



}


function saveInterview(){

let interviewData = {

candidateId:candidateData.id,

companyId: "C000001", // Replace with actual comapny

candidateName:candidateData.name,

position:candidateData.position,

    stage: document.getElementById("stage").value,

    date: document.getElementById("date").value,

    time: document.getElementById("time").value,

    duration: document.getElementById("duration").value,

    interviewType:
    document.querySelector(
        'input[name="type"]:checked'
    ).value,

    interviewer:
document.getElementById("interviewer").value,

    meetingLink:
    document.getElementById("meetingLink").value,

    notes:
    document.querySelector("textarea").value
};


console.log(interviewData);


fetch("/api/interviews", {

    method:"POST",

    headers:{
        "Content-Type":"application/json"
    },

    body:JSON.stringify(interviewData)

})

.then(response => response.json())
.then(data => {
    console.log(data);
    showSuccess(data.message);
})

.catch(error=>{
    console.log(error);
    showError("Failed to schedule interview.");
});

}

function showError(messageText){
let message =
document.getElementById("message");
message.innerHTML =
messageText;
message.className =
"error";
}

function showSuccess(messageText){
    alert(messageText);
    window.location.href = "/schedule_list";
}

function toggleMeetingLink(){


let type =
document.querySelector(
'input[name="type"]:checked'
).value;



let link =
document.getElementById("meetingLink");




if(type === "physical"){


link.value="";


link.disabled=true;


}

else{


link.disabled=false;


}



}



</script>
</body>

</html>