<header>
    <a href="/" class="logo">
        <i class="fa-solid fa-location-dot"></i>
        <span>JobConnect</span>
    </a>

    <nav>
        <a href="/"
            class="{% if active_page == 'home' %}active{% endif %}">
                Home
            </a>

            <a href="/jobs"
            class="{% if active_page == 'jobs' %}active{% endif %}">
                Jobs
            </a>

            <a href="/companies"
            class="{% if active_page == 'companies' %}active{% endif %}">
                Companies
            </a>

            <a href="/career-advice"
            class="{% if active_page == 'career' %}active{% endif %}">
                Career Advice
            </a>

            <a href="/about"
            class="{% if active_page == 'about' %}active{% endif %}">
                About Us
            </a>

        {% if user %}
            <a href="/my_interviews">Interviews</a>
            <a href="/messages">Messages</a>
        {% endif %}
    </nav>

    <div class="nav-right">

        <i class="fa-solid fa-globe"></i>
        <span>EN</span>

        {% if user %}

            <i class="fa-regular fa-heart"></i>

            <div class="notification">
                <i class="fa-regular fa-bell"></i>
                <span class="badge">3</span>
            </div>

            <a href="/profile" class="profile">

                {% if user.profileImage %}
                    <img
                        src="{{ user.profileImage }}"
                        alt="Profile">
                {% else %}
                    <img
                        src="/images/user.png"
                        alt="Profile">
                {% endif %}

                <div class="profile-info">
                    <h4>{{ user.name }}</h4>
                    <small>Job Seeker</small>
                </div>

            </a>

        {% else %}

            <a href="/login" class="btn-login">Login</a>
            <a href="/register" class="btn-signup">Sign Up</a>

        {% endif %}

    </div>
</header>