<header>
<div class="logo">
<i class="fa-solid fa-location-dot"></i><span>JobConnect</span>
</div>
<nav>
<a href="/">Home</a>
<a href="/jobs">Jobs</a>
<a href="/companies">Companies</a>
<a href="/interviews">Interviews</a>
<a href="/career-advice">Career Advice</a>
<a href="/application">About Us</a>
</nav>
<div class="nav-right">
<i class="fa-solid fa-globe"></i><span>EN</span>
<i class="fa-regular fa-heart"></i>
<div class="notification"><i class="fa-regular fa-bell"></i><span class="badge">3</span></div>
<div class="profile">
<img id="candidateImage" src="/static/images/avatar.jpg">
<div><h4>Pei Wen</h4><small>Employer</small></div>
</div>
</div>
</header>