<aside>

<h5>
JOB EMPLOYER
</h5>

<ul>

<li class="{% if active_page == 'dashboard' %}active{% endif %}">
    <i class="fa-solid fa-table-columns"></i>
    Dashboard
</li>


<li class="{% if active_page == 'jobs' %}active{% endif %}">
    <i class="fa-solid fa-briefcase"></i>
    My Jobs
</li>


<li class="{% if active_page == 'applicants' %}active{% endif %}">
    <a href="/applicants">
        <i class="fa-solid fa-users"></i>
        Applicants
    </a>
</li>


<li class="{% if active_page == 'interviews' %}active{% endif %}">
    <a href="/schedule_list">
        <i class="fa-solid fa-calendar-days"></i>
        Interviews
    </a>
</li>


<li>
    <i class="fa-solid fa-building"></i>
    Company Profile
</li>


<li>
    <i class="fa-solid fa-gear"></i>
    Settings
</li>


<li>
    <i class="fa-solid fa-right-from-bracket"></i>
    Logout
</li>


</ul>


<div class="progress-card">

<h4>
Hiring Progress
</h4>

<div class="circle">
80%
</div>

<p>
12 / 15 positions filled
</p>

<a href="#">
View Hiring Report →
</a>

</div>

</aside>